.body1
{
  background-color: lightgreen;
  color: white;
}
.body2
{
  background-color: lightgreen;
  color: white;
}
.welcome
{
    width: 300px;
    height: 300px;
}
#work_input
{
    background-color: gold;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid gold; /* gold */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  



  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }